




<!DOCTYPE html>
<html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <title>Facebook Login JavaScript Example</title>
    <meta charset="UTF-8">
</head>
<body>

<script src="@routes.Assets.versioned("js/facebook.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("js/facebooklogout.js")" type="text/javascript"></script>


<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->

<fb:login-button scope="email,user_birthday,public_profile" onlogin="checkLoginState();">
</fb:login-button>

<br>
<br>



<div id="status">
    <fb:logout-button scope="public_profile,email" onlogout="facebookLogin();">
    </fb:logout-button>
</div>

    <br>

<div type="date" id="dob"></div>
<div>
<button class="btn btn-success" type="submit">
<a href="@routes.QuestionController.fbquestions()" class="w3-bar-item w3-button">Fill Questionaire</a><br></button>
</div>
</body>
</html>

